@charset "ISO-8859-1";
input[type="submit"] {
	border-color: lightgreen;
	color: #000!important;
    background-color: #fff!important;
    border: 3px solid #ccc!important;
    border-radius: 16px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
}
body {
	background-color: lightblue;
}